// *************************
// Table of Contents:
// 
// Container
// Layout wrapper
// Navbar
// Header
// Section
//
// *************************

// Container
.l-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

// Layout wrapper
.l-wrapper {
    height: 100%;
}

// Navbar
.l-navbar {
    @extend .l-container;

    max-width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Header
.l-header {
    @extend .l-container;

    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1200px;
    position: relative;
}

// Section
.l-section {
    @extend .l-container;

    position: relative;
}