// *************************
// Table of Contents
// 
// Button
// Navigation
// Header
// Section
// Registration
// Login
// Company profile
// Tabs
// Dropdown
// Gallery
// Form
// Footer
//
// *************************

// Button
.btn {
    font: $font-weight-medium 1.4rem/46px $font-primary;
    color: $color-white;
    height: 46px;
    border-radius: 6px;
    background-color: $color-green;
    border: 1px solid transparent;
    z-index: 1;
    display: block;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    transition: all .25s ease;

    // Shadow
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 6px;
        box-shadow: 0 2px 12px rgba($color-grey-2, .25);
        position: absolute;
        transition: all .25s ease;
        top: 0;
        left: 0;
        opacity: 0;
    }
    
    &:hover,
    &:focus {
        color: $color-black;
        border-color: $color-white;
        background-color: $color-white;

        // Shadow
        &::before {
            opacity: 1;
        }
    }

    // Facebook button
    &--fb {
        background-color: $color-fb;
    }
}

// Navigation
.navbar {
    // Brand
    &--brand {
        display: block;
        margin-right: 50px;
        flex-shrink: 0;
    }

    // Sidebar
    &--sidebar {
        width: 300px;
        height: 100%;
        background-color: $color-white;
        border-right: 1px solid $color-white-dark;
        overflow: auto;
        z-index: 20;
        position: fixed;
        transition: transform .25s ease-in-out;   
        left: -300px;
        top: 0;
    }

    // Sidebar header
    &--header {
        height: 110px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // Sidebar heading
    &--heading {
        font-weight: $font-weight-bold;
        font-size: 1.4rem;
        color: $color-black;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    // Navigation
    &--nav {
        width: 100%;

        .nav {
            // Item
            &--item {
                height: 50px;
                padding-right: 10px;
                margin-bottom: 4px;
            }
        
            // Link
            &--link {
                font: $font-weight-medium 1.4rem/50px $font-primary;
                color: $color-black;
                display: block;
                z-index: 1;
                padding: 0 20px;
                position: relative;
                transition: all .25s ease;

                &:hover,
                &:focus {
                    color: $color-green;
                    transform: translateX(10px);
                }
            }

            // Icon
            &--icon {
                color: $color-white;
                font-size: 1.2rem;
                width: 20px;
                margin-right: 10px;
                transition: color .25s ease;
            }

            // Register button
            &--register {
                margin: 30px 0 10px 0;
                padding-left: 20px;
                z-index: 1;

                // Link
                &-link {
                    line-height: 36px;
                    height: 36px;
                    display: table;

                    &:hover,
                    &:focus {
                        // Icon
                        .nav--icon {
                            color: $color-black;
                        }
                    }
                }
            }
        }
    }

    // Mobile button
    &--btn {
        width: 34px;
        height: 34px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 0;
        padding: 0;
        background: none;
        cursor: pointer;
        padding: 5px;
        transform: translateX(5px);

        .btn {
            // Bars
            &--bars {
                width: 100%;
                height: 2px;
                display: block;
                margin: 3px 0;
                background-color: $color-black;
                position: relative;

                &::before,
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    display: block;
                    background-color: $color-black;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: transform .25s ease;
                }

                &::before {
                    transform: translateY(7px);
                }

                &::after {
                    transform: translateY(-7px);
                }
            }
        }
    }

    // Right side
    &--right {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    // User area
    &--user {
        display: flex;
        align-items: center;

        .user {
            // Image
            &--image {
                border-radius: 50%;
                display: inline-block;
            }

            // Name
            &--name {
                margin-left: 10px;
                display: none;
            }

            // Message
            &--msg {
                font: $font-weight-regular 1.4rem/36px $font-primary;
                color: $color-black;
                height: 36px;
                margin-left: 20px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;

                &::before {
                    content: '';
                    width: 1px;
                    height: 100%;
                    background-color: $color-white-dark;
                    position: absolute;
                    left: -20px;
                    top: 0;
                }
            }
            
            // Link
            &--link {
                font-size: 1.6rem;
                color: $color-black;
                line-height: 36px;
                width: 36px;
                height: 36px;
                text-align: center;
                margin-right: 10px;
                transition: color .25s ease;

                &:hover,
                &:focus {
                    color: $color-green;
                }
            }
        }
    }

    // Overlay
    &--overlay {
        width: 100%;
        height: 100%;
        background-color: rgba($color-black, 0.5);
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0; 
        opacity: 0;
        visibility: hidden;
        transition: all .25s ease-in-out;
    }
}

// Header
.header {
    // Heading
    &--heading {
        font-weight: $font-weight-bold;
        font-size: 4rem;
        color: $color-black;
        text-align: center;
        margin: 0 15px 50px 15px;
    }

    // Subheading
    &--subheading {
        font-weight: $font-weight-regular;
        font-size: 1.8rem;
        color: $color-grey-dark;
        text-align: center;
        display: block;
    }

    // Buttons container
    &--buttons {
        text-align: center;
        width: 80%;
        margin: 50px auto 0 auto;
    }

    // Button
    &--btn {
        font: $font-weight-bold 1.5rem/50px $font-primary;
        width: 100%;
        height: 50px;
        border: 2px solid $color-green;
        margin-top: 10px;
        display: inline-block;

        // Transparent button
        &-transparent {
            color: $color-black;
            background-color: transparent;
        }
    }

    // Image
    &--image {
        position: absolute;
        top: -110px;
        left: 50%;
        z-index: -1;
        opacity: 0.5;
        transform: translateX(-50%);
    }
}

// Section
.section {
    // Skew top
    &--skewed-top {
        padding-top: 80px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            border-bottom: 80px solid $color-white;
            border-left: 100vw solid transparent;
            width: 0;
            height: 0;
            left: 0;
            top: 0;
        }

        // Cyan background
        &.skewed-cyan::before {
            border-bottom-color: $color-cyan-bright;
        }
    }

    // Skew bottom
    &--skewed-bottom {
        padding-bottom: 80px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            border-top: 80px solid $color-white;
            border-right: 100vw solid transparent;
            width: 0;
            height: 0;
            left: 0;
            bottom: 0;
        }

        // Cyan background
        &.skewed-cyan::after {
            border-top-color: $color-cyan-bright;
        }
    }

    // Container
    &--container {
        padding: 50px 0;
        background-color: $color-white;

        // Cyan background
        &-cyan {
            background-color: $color-cyan-bright;
        }

        // Narrow container
        &-narrow-mobile {
            margin: 0 auto;
            max-width: $l-desktop-small;
        }

        // Container spacing
        &-spacing {
            padding: 120px 0;
        }

        &-spacing-top {
            padding-top: 120px;
        }

        &-spacing-bottom {
            padding-bottom: 120px;
        }
    }

    // Header
    &--header {
        padding: 0 15px;
        position: relative;
        margin-bottom: 70px;

        &-spacing {
            margin-bottom: 100px;
        }
    }

    // Heading
    &--heading {
        font-weight: $font-weight-bold;
        font-size: 3rem;
        color: $color-black;
        text-align: center;
        z-index: 2;
        position: relative;
    }

    // Subheading
    &--subheading {
        font-size: 1.6rem;
        color: $color-grey;
        text-align: center;
        margin: 15px 0;
        display: block;
    }

    // Content
    &--content {
        max-width: $l-mobile;
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
        margin: 0 auto;
    }

    // Icon
    &--icon {
        font-size: 8rem;
        color: $color-cyan-bright;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // White icon
        &-white {
            color: $color-white;
        }
    }

    // Text
    &--text {
        font: $font-weight-regular 1.4rem/25px $font-primary;
        text-align: center;
        margin: 0;
    }

    // Button
    &--btn {
        font-weight: $font-weight-regular;
        display: table;
        margin: 50px auto;
    }
}

// Pagination
.pagination {
    padding: 15px;
    justify-content: space-between;

    // Item
    &--item {
        margin-top: 10px;
        text-align: center;
        color: $color-black;
        background-color: $color-white;
    }

    // Previous button
    &--prev {
        margin-right: 10px;
    }

    // Next button
    &--next {
        margin-left: 10px;
    }
}

// Registration
.register {
    // Column
    &--column {
        width: 100%;
    }

    // Image
    &--image {
        margin: 50px auto;
    }
}

// Login
.login {
    // Button
    &--btn {
        width: 100%;
        margin-top: 15px;
    }

    // Icon
    &--icon {
       margin-right: 20px; 
    }

    // Link
    &--link {
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-black;
    }

    // Line
    &--line {
        width: 100%;
        height: 1px;
        background-color: $color-grey-bright;
        margin: 30px 0;
        display: block;
        position: relative;

        &::before {
            content: 'Lub';
            font-size: 1.2rem;
            color: $color-black;
            padding: 4px;
            background-color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// Company profile
.company {
    // Subheading
    &--subheading {
        font-size: 1.8rem;
        color: $color-grey;
        text-align: center;
        margin: 10px 0;
        display: block;
    }

    // Thumbnail
    &--thumbnail {
        margin: 0 auto 30px auto;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
    }

    // Button
    &--btn {
        line-height: 40px;
        height: 40px;
        display: table;
        margin: 30px auto 0 auto;
        background-color: $color-blue;
        padding: 0 12px;

        .btn {
            // Icon
            &--icon {
                margin-left: 10px;
            }
        }
    }

    // List
    &--list {
        text-align: center;
        margin: 30px 0;

        .list {
            // Item
            &--item {
                font-size: 1.4rem;
                color: $color-black;
                padding: 2px 0;
                margin-bottom: 8px;
            }

            // Icon
            &--icon {
                font-size: 1.4rem;
                width: 25px;
                display: inline-block;
            }

            // Link
            &--link {
                color: $color-blue;
                position: relative;

                &::before {
                    content: '';
                    width: 0;
                    height: 2px;
                    background-color: $color-blue;
                    position: absolute;
                    transition: width .25s ease;
                    left: 0;
                    bottom: -2px;
                }

                &:hover,
                &:focus {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    // Text
    &--text {
        font: $font-weight-regular 1.4rem/24px $font-primary;
        text-align: center;
        margin-top: 30px;
    }
}

// Tabs 
.tabs {
    // Navigation
    &--nav {
        margin-bottom: 40px;

        .nav {
            // Item
            &--item {
                display: block;
            }

            // Link
            &--link {
                font: $font-weight-medium 1.4rem/24px $font-primary;
                color: $color-black;
                text-align: center;
                width: 100%;
                background-color: $color-white;
                border: 1px solid $color-white-dark;
                border-radius: 6px;
                padding: 4px;
                display: block;
                margin-bottom: 10px;
                transition: all .25s ease;

                &:hover,
                &:focus {
                    // Icon
                    .nav--icon {
                        color: $color-green;
                    }
                }
                
                // Company button
                &-company {
                    &:hover,
                    &:focus {
                        // Icon
                        .nav--icon {
                            color: $color-blue;
                        }
                    }
                }
            }

            // Description
            &--desc {
                font-weight: $font-weight-regular; 
                font-size: 1rem;
                color: $color-grey;
                display: block;
            }

            // Icon
            &--icon {
                width: 22px;
                text-align: left;
                transition: all .25s ease;
            }
        }
    }

    // Content container
    &--content {
        min-height: 300px;
        position: relative;
    }

    // Panel
    &--panel {
        width: 100%;
        background-color: $color-white;
        position: absolute;
        transition: all .5s ease;
        transform: translateX(150px);
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
    }
}

// Dropdown
.dropdown {
    background-color: $color-white;
    min-width: 150px;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 2px 12px rgba($color-grey-2, .25);
    z-index: 4;
    position: absolute;
    transition: all .25s ease;
    visibility: hidden;
    top: 30px;
    right: 0; 
    opacity: 0;

    &::before,
    &::after {
        content: '';
        position: absolute;
    }

    // Arrow
    &::before {
        border-bottom: 15px solid $color-white;
        border-right: 15px solid transparent;
        box-shadow: -1px 1px 12px 0 rgba($color-grey-2, .25);
        z-index: -2;
        top: -6px;
        right: 12px;
        transform: rotate(135deg);
        width: 0;
        height: 0;
    }

    // Dropdown background
    &::after {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        z-index: -1;
        left: 0;
        top: 0;
        background-color: $color-white;
    }

    .dropdown {
        // Item
        &--item {
            margin: 4px 0;
        }

        // Icon
        &--icon {
            width: 30px;
        }

        // Link
        &--link {
            font-size: 1.2rem;
            color: $color-grey;
            display: block;
            transition: all .25s ease;

            &:hover,
            &:focus {
                color: $color-green;
            }
        }
    }
}

// Gallery 
.gallery {
    // Container
    &--container {
        display: flex;
        flex-wrap: wrap;
    }

    // Column
    &--col {
        width: 100%;
    }

    // Item
    &--item {
        background-color: $color-white;
        margin: 15px;
        border-radius: 6px;
        z-index: 1;
        position: relative;

        // Shadow
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 6px;
            box-shadow: 0 4px 30px rgba($color-grey-2, .3);
            position: absolute;
            transition: all .25s ease;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &:hover,
        &:focus {
            &::before {
                opacity: 1;
            }
        }

        .item {
            // Image
            &--image {
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 220px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                display: flex;
                justify-content: flex-end;
            }

            // Icon with background 
            &--icon-bg {
                text-align: center;
                width: 30px;
                height: 30px;
                margin: 10px;
                background-color: $color-white;
                border-radius: 50%;
            }

            // Icon
            &--icon {
                font-size: 2rem;
                line-height: 30px;
                color: $color-black;

                // Male icon
                &.fa-mars {
                    color: #3e8ef1;
                }
                
                // Female icon
                &.fa-venus {
                    color: #f531ca;
                }
            }

            // List
            &--list {
                padding: 15px;

                .list {
                    // List item
                    &--item {
                        font-weight: $font-weight-regular;
                        font-size: 1.4rem;
                        color: $color-grey;
                        margin: 5px 0;
                    }

                    // Name
                    &--name {
                        font-weight: $font-weight-bold;
                        font-size: 1.8rem;
                        color: $color-black;
                    }

                    // List icon
                    &--icon {
                        color: $color-green;
                        width: 24px;
                    }
                }
            }
        }
    }
}

// Form
.form {
    // Inline container
    &--inline {
        display: flex;
        justify-content: space-between;
    }

    // Group
    &--group {
        flex-grow: 1;
        margin-bottom: 34px;
        position: relative;
    }

    // Heading
    &--heading {
        font: $font-weight-medium 1.6rem $font-primary;
        color: $color-black;
        display: block;
        margin-bottom: 40px;
    }

    // Label
    &--label {
        font: $font-weight-medium 1.3rem $font-primary;
        color: $color-grey-3;
        margin-bottom: 10px;
        display: block;
        position: absolute;
        top: 12px;
        left: 20px;
        transition: all .25s ease;
    }

    // Input
    &--input {
        font-weight: $font-weight-regular;
        font-size: 1.4rem;
        color: $color-black;
        height: 40px;
        width: 100%;
        padding: 0 15px;
        background-color: $color-white;
        border: 2px solid $color-cyan-bright-2;
        border-radius: 6px;

        // Big input
        &-big {
            height: 52px;
        }
    }

    // Select
    &--select {
        @extend .form--input;

        appearance: none;
        background: url('../images/arrow.png') right 10px center no-repeat;
    }

    // Textarea
    &--textarea {
        @extend .form--input;

        padding: 15px;
        resize: vertical;
        min-height: 120px;
    }

    // Upload container
    &--upload {
        padding: 10px;
        border-radius: 6px;
        padding: 0;

        // Upload preview
        &-preview {
            margin: 0;
            width: 120px;
            height: 120px;
            border-radius: 6px;
            margin-bottom: 34px;
            background-color: $color-cyan-bright-2;
            background-size: cover;
            background-position: center center;
            flex-shrink: 0;
        }

        // Upload label
        &-label {
            line-height: 40px;
            color: $color-black;
            background-color: $color-white;
            border-color: $color-white-dark;
            height: 40px;
            margin: 0 10px;
            display: inline-block;
        }

        // Upload icon
        &-icon {
            width: 20px;
        }

        // Upload description
        &-desc {
            font-size: 1.2rem;
            line-height: 20px;
            display: block;
            margin: 10px;
        }
    }

    // File
    &--file {
        position: absolute;
        overflow: hidden;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }

    // Post code input
    &--post-code {
        max-width: 140px;
        margin-right: 15px;
    }

    // Gender input
    &--gender {
        margin-right: 15px;
    }

    // Button
    &--btn {
        padding: 0 30px;
        width: 100%;
        display: inline-block;
        cursor: pointer;

        // Homepage search button
        &-search {
            margin-top: 10px;
        }

        // Company register button
        &-company {
            background-color: $color-blue;
        }

        // Big button
        &-big {
            font-weight: $font-weight-regular;
            font-size: 1.5rem;
            height: 52px;
        }

        // Icon
        .btn--icon {
            margin-right: 15px;
        }
    }

    // Form text
    &--text {
        font-weight: $font-weight-regular;
        font-size: 1.2rem;
        display: inline-block;
    }

    // Checkbox
    &--checkbox {
        display: none;

        // Checked
        &:checked {
            & ~ .form--checkbox-label::after {
                visibility: visible;
            }
        }
    }

    // Checkbox label
    &--checkbox-label {
        font: $font-weight-regular 1.2rem $font-primary;
        color: $color-black;
        padding-left: 30px;
        cursor: pointer;
        position: relative;

        // Checkbox background
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 4px;
            background-color: $color-white;
            border: 2px solid $color-cyan-bright-2;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
        }

        // Check icon
        &::after {
            content: '\f00c';
            font: 900 1.2rem 'Font Awesome 5 Free';
            color: $color-green;
            position: absolute;
            visibility: hidden;
            left: 4px;
            top: 0;
        }

        // Blue icon
        &-blue::after {
            color: $color-blue;
        }
    }

    // Margin top
    &--mt {
        margin-top: 15px;
    }
}

// Footer
.footer {
    // Wrapper
    &--wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    // Container
    &--container {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    // Brand
    &--brand {
        display: block;
        padding: 15px 0;
        margin-right: 10px;
        flex-shrink: 0;
    }

    // Navigation
    &--nav {
        width: 50%;
        text-align: center;
        flex-grow: 1;
        padding: 15px 0;

        .nav {
            // Item
            &--item {
                height: 30px;
                margin-bottom: 7px;
                padding: 0 14px;
            }
        
            // Link
            &--link {
                font: $font-weight-regular 1.2rem/30px $font-primary;
                color: $color-black;
                display: block;
                transition: all .25s ease;

                &:hover,
                &:focus {
                    color: $color-green;
                }
            }
        }
    }

    // Icon
    &--icon {
        font-size: 3rem;
        color: $color-green;
        padding: 15px 0;
    }

    // Copyright
    &--copyright {
        font-size: 1.1rem;
        color: $color-grey-2;
        text-align: center;
        padding-top: 20px;
    }
}