// *************************
// Table of Contents
// 
// Min-width: 480px
// Min-width: 600px
// Min-width: 768px
// Min-width: 992px
// Min-width: 1200px
//
// *************************

// Min-width: 480px
@media (min-width: 480px) {
    // Header
    .header {
        // Heading
        &--heading {
            font-size: 40px;
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }
    
        // Subheading
        &--subheading {
            text-align: left;
        }

        // Buttons
        &--buttons {
            text-align: left;
            width: 100%;
        }
        
        // Button
        &--btn {
            width: auto;

            &:first-child {
                margin-right: 10px;
            }
        }

        // Image
        &--image {
            transform: translateX(-30%);
            opacity: 1;
        }
    }

    // Section
    .section {
        // Skew top
        &--skewed-top {
            padding-top: 100px;
            
            &::before {
                border-bottom-width: 100px;
            }
        }

        // Skew bottom
        &--skewed-bottom {
            padding-bottom: 100px;

            &::after {
                border-top-width: 100px;
            }
        }

        // Text
        &--text {
            line-height: 30px;
        }
    }

    // Register section
    .register {
        // Text
        &--text {
            line-height: 25px;
        }
    }

    // Gallery
    .gallery {
        // Column
        &--col {
            width: 50%;
        }
    }
}

@media (min-width: 600px) {
    // Form
    .form {
        // Container
        &--container {
            display: flex;
        }

        // Button
        &--btn {
            margin: 0;
            max-width: 170px;
        }

        // Homepage search select
        &--select-search {
            margin-right: 15px;
        }
    }
}

// Min-width: 768px
@media (min-width: 768px) {
    // Header
    .header { 
        // Heading
        &--heading {
            font-size: 45px;
        }
    }

    // Gallery
    .gallery {
        // Column
        &--col {
            width: calc(100% / 3);
        }
    }

    // Footer
    .footer {
        flex-direction: row;
        
        // Navigation
        &--nav {
            text-align: left;
            margin-left: 60px;
            margin-right: 60px;
        }
    }

    // Section
    .section {
        // Columns container
        &--columns {
            display: flex;
        }

        // Column
        &--column {
            flex-grow: 1;
            width: 100%;
        }
    }

    // Register section
    .register {
        // Column
        &--column {
            margin-right: 30px;
        }

        // Tabs 
        &--tabs {
            margin: 0;
            max-width: none;
        }

        // Heading
        &--heading {
            text-align: left;
        }

        // Text
        &--text {
            text-align: left;
        }

        // Image
        &--image {
            margin-left: 0;
        }
    }

    // Tabs
    .tabs {
        &--nav {
            display: flex;

            .nav {
                &--item {
                    flex-grow: 1;
                    display: inline-block;

                    &:first-child {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

// Min-width: 992px
@media (min-width: 992px) {
    // Navbar
    .navbar {
        // Sidebar
        &--sidebar {
            width: 100%;
            display: flex;
            align-items: center;
            background: transparent;
            position: relative;
            overflow: hidden;
            border: 0;
            left: 0;

            &.is-active {
                transform: translateX(0);
            }
        }

        // Sidebar header
        &--header {
            display: none;
        }

        // Navigation
        &--nav {
            display: flex;
            align-items: center;

            .nav {
                // Item
                &--item {
                    display: inline-block;
                    margin: 0;
                    padding-right: 0;
                }

                // Link
                &--link {
                    padding: 0;
                    margin-right: 40px;

                    &:hover,
                    &:focus {
                        transform: none;
                    }
                }

                // Icon
                &--icon {
                    margin-right: 0;
                }

                // Register button
                &--register {
                    display: inline-block;
                    margin: 0 0 0 auto;
                    padding: 0;

                    &-link {
                        padding: 0 20px;
                        display: inline-block;
                        margin: 0;
                    }
                }
            }
        }

        // Button
        &--btn {
            display: none;
        }
    }

    // Header
    .header { 
        // Image
        &--image {
            right: 0;
            left: auto;
            transform: none;
        }
    }

    // Section
    .section {
        // Content
        &--content {
            max-width: $l-tablet - 70px;
        }
    }
    
    // Gallery
    .gallery {
        // Column
        &--col {
            width: 25%;
        }
    }

    // Layouts
    .l-container {
        max-width: $l-tablet;
    }
}

// Min-width: 1200px
@media (min-width: 1200px) {
    // Section
    .section {
        // Skew top
        &--skewed-top {
            padding-top: 120px;

            &::before {
                border-bottom-width: 120px;
            }
        }

        // Skew bottom
        &--skewed-bottom {
            padding-bottom: 120px;

            &::after {
                border-top-width: 120px;
            }
        }
    }

    // Layouts
    .l-container {
        max-width: $l-desktop;

        // Small container
        &.is-small {
            max-width: $l-desktop - 150;
        }
    }
}