// *************************
// Table of Contents
// 
// Min-width: 480px
// Min-width: 768px
// Min-width: 992px
// Min-width: 1200px
//
// *************************

// Min-width: 480px
@media (min-width: 480px) {
    // Header
    .header {
        // Heading
        &--heading {
            font-size: 40px;
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }
    
        // Subheading
        &--subheading {
            text-align: left;
        }

        // Buttons
        &--buttons {
            text-align: left;
        }
        
        // Button
        &--btn {
            width: auto;

            &:first-child {
                margin-right: 10px;
            }
        }

        // Image
        &--image {
            transform: translateX(-30%);
            opacity: 1;
        }
    }

    // Section
    .section {
        &.is-skewed {
            padding: 100px 0;

            // Skew top
            &::before {
                border-bottom-width: 100px;
            }
            
            // Skew bottom
            &::after {
                border-top-width: 100px;
            }
        }
    }

    // Form
    .form {
        text-align: left;
        
        // Container
        &--container {
            display: flex;
        }

        // Input
        &--input {
            margin-right: 10px;
            width: auto;
            flex-grow: 1;
        }

        // Button
        &--btn {
            width: auto;
            margin: 0;
        }
    }
}

// Min-width: 768px
@media (min-width: 768px) {
    // Header
    .header { 
        // Heading
        &--heading {
            font-size: 45px;
        }
    }
}

// Min-width: 992px
@media (min-width: 992px) {
    // Navbar
    .navbar {
        // Sidebar
        &--sidebar {
            width: 100%;
            display: flex;
            align-items: center;
            background: transparent;
            position: relative;
            overflow: hidden;
            border: 0;
            left: 0;

            &.is-active {
                transform: translateX(0);
            }
        }

        // Sidebar header
        &--header {
            display: none;
        }

        // Navigation
        &--nav {
            display: flex;
            align-items: center;

            .nav {
                // Item
                &--item {
                    display: inline-block;
                    margin: 0;
                    padding-right: 0;
                }

                // Link
                &--link {
                    padding: 0;
                    margin-right: 40px;

                    &:hover,
                    &:focus {
                        transform: none;
                    }
                }

                // Icon
                &--icon {
                    margin-right: 0;
                }

                // Register button
                &--register {
                    display: inline-block;
                    margin: 0 0 0 auto;
                    padding: 0;

                    &-link {
                        padding: 0 20px;
                        display: inline-block;
                        margin: 0;
                    }
                }
            }
        }

        // Button
        &--btn {
            display: none;
        }
    }

    // Header
    .header { 
        // Image
        &--image {
            right: 0;
            left: auto;
            transform: none;
        }
    }
}

// Min-width: 1200px
@media (min-width: 1200px) {
    // Section
    .section {
        &.is-skewed {
            padding: 120px 0;

            // Skew top
            &::before {
                border-bottom-width: 120px;
            }
            
            // Skew bottom
            &::after {
                border-top-width: 120px;
            }
        }
    }
}