// *************************
// Table of Contents
// 
// Navbar
// Tabs
// Dropdown
// Form
// Responsive: >= 480px
// Responsive: >= 600px
// Responsive: >= 768px
// Responsive: >= 992px
// Responsive: >= 1200px
//
// *************************

// Navbar
.navbar {
    // Sidebar
    &--sidebar {
        &.is-active {
            transform: translateX(300px);
        }
    }

    // Mobile button
    &--btn {
        &.is-active {
            // Bars
            .btn--bars {
                background-color: transparent;
    
                &::before {
                    transform: translateY(0) rotate(45deg);
                }
    
                &::after {
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
    }
    
    // Overlay
    &--overlay {
        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Tabs 
.tabs {
    // Navigation
    &--nav {
        // Link
        .nav--link {
            &.is-active {
                border-color: $color-green;
    
                // Icon
                .nav--icon {
                    color: $color-green;
                }
            }
        }

        // Company link
        .nav--link-company {
            &.is-active {
                border-color: $color-blue;
    
                // Icon
                .nav--icon {
                    color: $color-blue;
                }
            }
        }
    }

    // Panel
    &--panel {
        &.is-active {
            visibility: visible;
            transform: translateX(0);
            opacity: 1;
        }
    }
}

// Dropdown
.dropdown {
    &.is-active {
        transform: translateY(20px);
        opacity: 1;
        visibility: visible;
    }
}

// Form
.form {
    // Label
    &--label {
        &.is-active {
            font-size: 1.3rem;
            transform: translate(-20px, -30px);
        }
        
        &.is-hidden {
            display: none;
        }
    }

    // Checkbox label
    &--checkbox-label {
        &.is-required {
            &::before {
                border-color: $color-red;
            }
        }
    }

    // Upload preview
    &--upload-preview {
        &.is-empty {
            position: relative;

            &::before {
                content: '\f6d3';
                font: 900 4rem 'Font Awesome 5 Free';
                color: $color-grey;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

// Responsive: >= 480px
@media (min-width: 480px) {
    // Header
    .header {
        // Heading
        &--heading {
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }
    
        // Subheading
        &--subheading {
            text-align: left;
        }

        // Buttons
        &--buttons {
            text-align: left;
            width: 100%;
        }
        
        // Button
        &--btn {
            width: auto;

            &:first-child {
                margin-right: 10px;
            }
        }

        // Image
        &--image {
            transform: translateX(-30%);
            opacity: 1;
        }
        .l-container {

            //Small container
            &-small{
    max-width: $l-desktop-small;
            }
        }
    }

    

    // Navigation
    .navbar {
        // User area
        &--user {
            .user {
                // Name
                &--name {
                    display: block;
                }
            }
        }
    }

    // Section
    .section {
        // Skew top
        &--skewed-top {
            padding-top: 100px;
            
            &::before {
                border-bottom-width: 100px;
            }
        }

        // Skew bottom
        &--skewed-bottom {
            padding-bottom: 100px;

            &::after {
                border-top-width: 100px;
            }
        }

        // Content
        &--content {
            width: 75%;
        }

        // Text
        &--text {
            line-height: 30px;
        }
    }

    // Registration
    .register {
        // Text
        &--text {
            line-height: 25px;
        }
    }

    // Gallery
    .gallery {
        // Column
        &--col {
            width: 50%;
        }
    }
}

// Responsive: >= 600px
@media (min-width: 600px) {
    // Form
    .form {
        // Container
        &--container {
            display: flex;
        }

        // Button
        &--btn {
            margin: 0;
            max-width: 170px;
        }

        // Spacing
        &--spacing {
            margin-right: 15px;
        }
    }

    // Pagination 
    .pagination {
        display: flex;
    }

    // Footer
    .footer {
        // Navigation
        &--nav {
            width: auto;
        }
    }
}

// Responsive: >= 768px
@media (min-width: 768px) {
    // Header
    .header { 
        // Heading
        &--heading {
            font-size: 4.5rem;
        }
    }

    // Gallery
    .gallery {
        // Column
        &--col {
            width: calc(100% / 3);
        }
    }

    // Section
    .section {
        // Columns container
        &--columns {
            display: flex;
        }

        // Column
        &--column {
            flex-grow: 1;
            width: 100%;

            // Spacing
            &-spacing {
                margin-right: 30px;
            }
        }

        // Container
        &--container {
            // Narrow container
            &-narrow-mobile {
                margin: 0;
                max-width: none;
            }
        }
    }

    // Registration
    .register {
        // Heading
        &--heading {
            text-align: left;
        }

        // Text
        &--text {
            text-align: left;
        }

        // Image
        &--image {
            margin-left: 0;
        }
    }

    // Company profile
    .company {
        // Column
        &--column {
            max-width: 200px;
        }

        // Thumbnail
        &--thumbnail {
            margin-left: 0;
        }

        // Button
        &--btn {
            margin-left: 0;
        }

        // Heading
        &--heading {
            text-align: left;
        }
    
        // Subheading
        &--subheading {
            text-align: left;
        }

        // Text
        &--text {
            text-align: left;
        }

        // List
        &--list {
            text-align: left;

            .list {
                &--item {
                    display: inline-block;
                    margin-right: 20px;
                }
            }
        }
    }

    // Tabs
    .tabs {
        &--nav {
            display: flex;

            .nav {
                &--item {
                    flex-grow: 1;
                    display: inline-block;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    // Footer
    .footer {
        // Wrapper
        &--wrapper {
            align-items: flex-start;
            flex-direction: row;
        }
        
        // Navigation
        &--nav {
            text-align: left;
            padding: 0;
        }

        // Container
        &--container {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}

// Responsive: >= 992px
@media (min-width: 992px) {
    // Navbar
    .navbar {
        // Sidebar
        &--sidebar {
            width: 100%;
            margin-left: 20px;
            display: flex;
            align-items: center;
            background: transparent;
            position: relative;
            overflow: hidden;
            border: 0;
            left: 0;
            transition: none;

            // Active
            &.is-active {
                transform: translateX(0);
            }
        }

        // Sidebar header
        &--header {
            display: none;
        }

        // Navigation
        &--nav {
            display: flex;
            align-items: center;

            .nav {
                // Item
                &--item {
                    display: inline-block;
                    margin: 0;
                    padding-right: 0;
                }

                // Link
                &--link {
                    padding: 0;
                    margin-right: 50px;

                    &:hover,
                    &:focus {
                        transform: none;
                    }
                }

                // Icon
                &--icon {
                    margin-right: 0;
                }

                // Register button
                &--register {
                    display: inline-block;
                    margin: 0 0 0 auto;
                    padding: 0;

                    // Link
                    &-link {
                        padding: 0 20px;
                        display: inline-block;
                        margin: 0;
                    }
                }
            }
        }

        // Button
        &--btn {
            display: none;
        }

        // Overlay active
        &--overlay.is-active {
            opacity: 0;
            visibility: hidden;
        }
    }

    // Header
    .header { 
        // Image
        &--image {
            right: 0;
            left: auto;
            transform: none;
        }
    }

    // Section
    .section {
        // Content
        &--content {
            max-width: $l-tablet - 70px;
        }
    }

    // Layouts
    .l-container {
        max-width: $l-tablet;

        //Small container
        &-small{
        max-width: $l-tablet;
        }
    }
}

// Responsive: >= 1200px
@media (min-width: 1200px) {
    // Section
    .section {
        // Skew top
        &--skewed-top {
            padding-top: 120px;

            &::before {
                border-bottom-width: 120px;
            }
        }

        // Skew bottom
        &--skewed-bottom {
            padding-bottom: 120px;

            &::after {
                border-top-width: 120px;
            }
        }
    }

    // Layouts
    .l-container {
        max-width: $l-desktop;

        // Small container
        &-small {
            max-width: $l-desktop-small;
        }
    }
}