// Colors
$color-white: #fff;
$color-white-dark: #eee;

$color-cyan-bright: #f2f7f9;
$color-cyan-bright-2: #e4ebef;

$color-grey-bright: #c7c7c7;
$color-grey: #647179;
$color-grey-2: #839399;
$color-grey-3: #8599a5;
$color-grey-dark: #4a4b4c;

$color-black: #111;
$color-green: #8cde4a;
$color-blue: #5dbee5;
$color-red: #ff3636;
$color-royale: #FADA5E;
$color-fb: #3C5A99;

// Fonts
$font-primary: 'Work Sans', Arial, Verdana, sans-serif;

// Fonts weight
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Layout width
$l-mobile: 740px;
$l-tablet: 970px;
$l-desktop-small: 400px;
$l-desktop: 1100px;