// Colors
$color-white: #fff;
$color-white-dark: #eee;
$color-white-dark-2: #ccc;

$color-cyan-bright: #f2f7f9;
$color-cyan-bright-2: #e4ebef;

$color-grey-bright: #c7c7c7;
$color-grey: #7a7a7a;
$color-grey-2: #839399;
$color-grey-3: #8599a5;
$color-grey-dark: #4a4b4c;

$color-black: #111;
$color-green: #8cde4a;

// Fonts
$font-primary: 'Work Sans', Arial, Verdana, sans-serif;

// Fonts weight
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;