<div class="l-gallery gallery--container has-3-columns">
    <!-- Gallery Item -->
    <div class="gallery--col">
        <div class="gallery--item">
            <a href="#">
                <div class="item--image" style="background-image: url('https://placedog.net/360/250/?id=6')">
                    <div class="item--icon-bg">
                        <span class="item--icon fas fa-mars" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="sr-only">Pokaż profil</div>
            </a>
            
            <ul class="item--list">
                <li class="list--item">
                    <span class="list--icon fas fa-signature" aria-hidden="true"></span>
                    <span class="list--name">Azor</span>
                </li>

                <li class="list--item">
                    <span class="list--icon fas fa-map-marker-alt" aria-hidden="true"></span>
                    <span>Warszawa</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="gallery--col">
        <div class="gallery--item">
            <a href="#">
                <div class="item--image" style="background-image: url('https://placedog.net/360/250/?id=3')">
                    <div class="item--icon-bg">
                        <span class="item--icon fas fa-venus" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="sr-only">Pokaż profil</div>
            </a>
            
            <ul class="item--list">
                <li class="list--item">
                    <span class="list--icon fas fa-signature" aria-hidden="true"></span>
                    <span class="list--name">Kala</span>
                </li>

                <li class="list--item">
                    <span class="list--icon fas fa-map-marker-alt" aria-hidden="true"></span>
                    <span>Kraków</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="gallery--col">
        <div class="gallery--item">
            <a href="#">
                <div class="item--image" style="background-image: url('https://placedog.net/360/250/?id=5')">
                    <div class="item--icon-bg">
                        <span class="item--icon fas fa-mars" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="sr-only">Pokaż profil</div>
            </a>
            
            <ul class="item--list">
                <li class="list--item">
                    <span class="list--icon fas fa-signature" aria-hidden="true"></span>
                    <span class="list--name">Bruno</span>
                </li>

                <li class="list--item">
                    <span class="list--icon fas fa-map-marker-alt" aria-hidden="true"></span>
                    <span>Poznań</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="gallery--col">
        <div class="gallery--item">
            <a href="#">
                <div class="item--image" style="background-image: url('https://placedog.net/360/250/?id=46')">
                    <div class="item--icon-bg">
                        <span class="item--icon fas fa-venus" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="sr-only">Pokaż profil</div>
            </a>
            
            <ul class="item--list">
                <li class="list--item">
                    <span class="list--icon fas fa-signature" aria-hidden="true"></span>
                    <span class="list--name">Kasja</span>
                </li>

                <li class="list--item">
                    <span class="list--icon fas fa-map-marker-alt" aria-hidden="true"></span>
                    <span>Warszawa</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="gallery--col">
        <div class="gallery--item">
            <a href="#">
                <div class="item--image" style="background-image: url('https://placedog.net/360/250/?id=31')">
                    <div class="item--icon-bg">
                        <span class="item--icon fas fa-mars" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="sr-only">Pokaż profil</div>
            </a>
            
            <ul class="item--list">
                <li class="list--item">
                    <span class="list--icon fas fa-signature" aria-hidden="true"></span>
                    <span class="list--name">Lotos</span>
                </li>

                <li class="list--item">
                    <span class="list--icon fas fa-map-marker-alt" aria-hidden="true"></span>
                    <span>Wrocław</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="gallery--col">
        <div class="gallery--item">
            <a href="#">
                <div class="item--image" style="background-image: url('https://placedog.net/360/250/?id=29')">
                    <div class="item--icon-bg">
                        <span class="item--icon fas fa-mars" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="sr-only">Pokaż profil</div>
            </a>
            
            <ul class="item--list">
                <li class="list--item">
                    <span class="list--icon fas fa-signature" aria-hidden="true"></span>
                    <span class="list--name">Jaszczomb</span>
                </li>

                <li class="list--item">
                    <span class="list--icon fas fa-map-marker-alt" aria-hidden="true"></span>
                    <span>Kraków</span>
                </li>
            </ul>
        </div>
    </div>
</div>