<div class="navbar--logged">
    <a href="#" class="logged--link">
        <span class="far fa-bell" aria-hidden="true"></span>
        <span class="sr-only">[Powiadomienia]</span>
    </a>

    <div class="logged--container" data-dropdown="container">
        <button type="button" class="logged--msg" data-dropdown="button" aria-haspopup="true">
            <img src="https://via.placeholder.com/30x30" class="logged--image" alt="">
            <span class="logged--name">michu2k</span>
        </button>

        <!-- Dropdown -->
        <ul class="dropdown is-active" data-dropdown="dropdown-menu">
            <li class="dropdown--item">
                <a href="#" class="dropdown--link">
                    <span class="dropdown--icon fas fa-user" aria-hidden="true"></span>Profil
                </a>
            </li>

            <li class="dropdown--item">
                <a href="#" class="dropdown--link">
                    <span class="dropdown--icon fas fa-envelope" aria-hidden="true"></span>Wiadomości
                </a>
            </li>

            <li class="dropdown--item">
                <a href="#" class="dropdown--link">
                    <span class="dropdown--icon fas fa-question" aria-hidden="true"></span>Pomoc
                </a>
            </li>

            <li class="dropdown--item">
                <a href="#" class="dropdown--link">
                    <span class="dropdown--icon fas fa-power-off" aria-hidden="true"></span>Wyloguj się
                </a>
            </li>
        </ul>
    </div>
</div>