<div class="navbar--user">
    <a href="#" class="user--link">
        <span class="far fa-bell" aria-hidden="true"></span>
        <span class="sr-only">[Powiadomienia]</span>
    </a>

    <span class="user--msg">
        <img src="https://via.placeholder.com/30x30" class="user--image" alt="">
        <span class="user--name">michu2k</span>

        <!-- Dropdown -->
        <ul class="dropdown is-active">
            <li class="dropdown--item">
                <a href="#" class="dropdown--link">
                    <span class="dropdown--icon fas fa-user" aria-hidden="true"></span>Profil
                </a>
            </li>

            <li class="dropdown--item">
                <a href="#" class="dropdown--link">
                    <span class="dropdown--icon fas fa-envelope" aria-hidden="true"></span>Wiadomości
                </a>
            </li>

            <li class="dropdown--item">
                <a href="#" class="dropdown--link">
                    <span class="dropdown--icon fas fa-question" aria-hidden="true"></span>Pomoc
                </a>
            </li>

            <li class="dropdown--item">
                <a href="#" class="dropdown--link">
                    <span class="dropdown--icon fas fa-power-off" aria-hidden="true"></span>Wyloguj się
                </a>
            </li>
        </ul>
    </span>
</div>